# Backend
backend/.venv/
backend/__pycache__/
*.pyc
*.py[cod]

# Frontend
frontend/node_modules/
frontend/dist/
frontend/build/

# IDE
.idea/

# Environment variables
.env
*.env

# OS
.DS_Store
Thumbs.db

# Database
*.db